.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.margin-top-20 {
  margin-top: -20px
}

.search-box {
  background-color: floralwhite;
}

#storyEditor {
  margin: 0px 30px
}

.titleRow {
  margin-bottom: 20px;
}

.titleInput {
  font-size: 30px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
}

// EditorActors styling

#actorsComponent {
  padding: 10px;
  background-color: lightseagreen;
}

#actorsBox {
  background-color: rgba(188,231,229, 1);
  padding: 10px;
}

.actor-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.actorFormField {
  border: none;
  margin: 0px 20px;
}

//

.publish {
  display: flex;
  justify-content: flex-end;
}

.editor-actors {
  /*background-color: lightgrey;*/
}

.article-font {
  font-family: 'Libre Baskerville', serif;
}

.actors-heading {
  margin: 0px;

}

.article-text {
  margin-bottom: 2.625rem;
  margin-top: 0;
  line-height: 2.875rem;
  font-size: 16px;
}

.generate-actors {
  display: flex;
  justify-content: flex-start;
}


