html, body, #main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root-children-wrapper {
  height: 100%;
}

.story-wrapper {
  width: 100%;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 15%;
}

.margin-top-20 {
  margin-top: -20px
}

.search-box {
  background-color: floralwhite;
}


/* ----- Home Page ----- */

.home > .banner > h1 {
  font-family: 'Nixie One', cursive;
  font-size: 1.6em;
}

.home-margin {
  margin: 15px 30px
}

.main-featured {
  /*max-height: 300px;*/
}

.card-img-height {
  max-height: 350px;
}

.nav-wrapper {
  margin: 0px 10px
}

.featured-card > div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  background: inherit;
  background-attachment: fixed;
}
.featured-card > div::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 125%;
  height: 125%;
  background: inherit;
  background-attachment: fixed;
  -webkit-filter: blur(12px);
  filter: blur(12px);
  transform: scale(2) translateY(15px);
}
/*.featured-card > div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25)
}*/

.featured-card > div > h1 {
  margin: 0;
  color: white;
  position: relative;
  z-index: 1;
}

.featured-card > div > h2 {
  margin: 0;
  color: white;
  position: relative;
  z-index: 1;
}

* {
  box-sizing: border-box;
}

.lead-row {
  height: 400px;
  min-width: 800px;
}

.second-row {
  height: 250px;
  min-width: 600px;
}

.featured-card {
  flex-grow: 1;
  width: auto;
  background-attachment: scroll;
  background-position: 100% 100%;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  margin: 0px 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
}

.flex {
  display: flex;
  justify-content: space-around;
}

.about-card {
  height: 400px;
  min-width: 200px;
  flex-basis: auto;
  flex-grow: 1;
  padding: 24px;
  border-radius: 4px;
  background-color: lightgrey;
  margin: 0px 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
}

#featured-text {
  font-size: 40px
}



.home-page-header {
  font-family: 'Nixie One', cursive;
  font-size: 1.5em;
}

.home-page-text {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
}

.feature-row {
  margin-bottom: 20px;
  height: 400px;
}

.create-story-button {
  width: 75%;
  height: 100%;
  margin: 45px;
  margin-top: 12px;
  margin-bottom: 12px
}
/* ----- Editor Styling ----- */

#story-editor {
  margin: 0;
  height: 100%;
}

#title-row {
  margin: 0;
  padding: 40px 0 20px 0;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #587B7F;
  border-bottom: 0.5px solid #435e60;
  color: white;
}

#publish-btn:hover {
  background-color: #639b90
}

#story-title-input {
  font-size: 30px;
  text-indent: 7px;
  border: none;
  border-bottom: solid 1.5px white;
  color: white;
  width: 95%;
  background-color: transparent
}

#story-title-input::placeholder {
  color: white;
};

.editorscene-wrapper {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start
}

#editor-scene-menu {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

#editor-scene-menu-items-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  border: none;
}

/* ----- EditorScenesMenuItem styling ----- */

.editor-scene-menu-item {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #2d3d3f;
  width: 100%;
  background-color: #FDFFFC;
}

.editor-scene-menu-item.active {
  background-color: #587B7F;
  border: 0.5px solid #587B7F;
  color: white;
}

/* ----- EditorScene Styling ----- */

.flexcontainer-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editor-scene-editor {
  width: 60%;
}

.editor-row {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

#editor-scene-title {
  height: 35px;
  text-indent: 14px;
  flex-grow: 1;
  border: none;
  border-bottom: solid 1.5px #5D737E;
  background-color: transparent;
  font-size: 25px;
  width: 80%;
  margin-right: 20px;
  margin-bottom: 0;
}

#editor-scene-title::placeholder {
  color: #5D737E;
}

.editor-container {
  background: transparent;
  border: 0.5px solid #5D737E;
  font-size: 18px;
  padding: 15px;
  margin-top: 10px;
  color: black;
  min-height: 200px;
  font-family: 'Sorts Mill Goudy', serif;
}

.editorscene-delete-btn {
  margin-bottom: 0;
}

.editor-btns-left-align {
  align-self: flex-start;
  margin-right: 20px;
  margin-top: 10px;
}

.editor-btns-right-align {
  align-self: flex-end;
  margin-top: 10px;
}

#recommend-btn {
  width: 150px;
}

.module-btn {
  width: 100px;
  align-self: flex-end;
  background-color: white
}

.module-btn:hover {
  background-color: #a0b9bc
}

.editorscene-mediaurl-input > input {
  border: 0.5px solid #c9c9c9;
  color: black;
  background: transparent;
}

.draft-btns {
  background-color: white
}

.draft-btns:hover {
  background-color: #e9eae8
}

.highlighted-rec {
  background-color: #ffc04c
}

.rec-string {
  color: #ffc04c;
  font-size: 100%;
}
/* ----- Editor Modules Styling ----- */

.flexcontainer-module-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 45px 30px 30px 30px;
  color: white;
}

.module-header {
  margin: 0 20px;
}

.flex-self-right {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.module-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.module-btns {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/* ----- EditorMaps Styling ----- */

.maps-module {
  background-color: #58D88C;
  width: 100%;
}

.maps-module-header {
  margin: 0 20px;
  border-bottom: 0.5px solid #37A36B;
}

.maps-module-btn {
  background-color: #37A36B;
  margin: 10px;
}

.locations-box {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.locations-box > p {
  margin-bottom: 0;
}

.editor-map {
  width: 100%;
}

.map-editor-header {
  width: 100%;
  padding: 20px 0px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.map-editor-header > * > select {
  display: inline;
}

.map-editor-header .location-name-field {
  margin: 0;
  font-size: 16px;
}

.generated-map {
  width: 100%;
  padding: 0px 25px;
  text-align: center;
}

/* ----- EditorMapsLocationItem Styling ----- */

.location-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 60%
}

.location-info {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.location-name-field-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.location-name-field-container > label {
  margin-bottom: 0;
  margin-right: 10px;
}

.location-name-field {
  background: transparent;
  border: none;
  border-bottom: 0.5px solid;
}

/* ----- EditorActors Styling ----- */

.actors-module {
  width: 100%;
  background-color: #7CC6FE;
  color: white;
}

.actors-module-header {
  margin: 0 20px;
  border-bottom: 0.5px solid #0090FF;
}

.actors-module-btn {
  background-color: #0090FF;
}

.actors-gen-btn {
  margin-right: 20px;
}

.actors-add-btn {
  margin: 0;
}


.actors-box {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.actors-box > p {
  margin-bottom: 0;
}

/* ----- EditorActorItem Styling ----- */

.actor-module-item {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 30px 30px 30px;
}

.delete-actor-btn {
  margin-bottom: 5px;
}

.actor-info {
  width: 60%;
}

.actor-form-field {
  border: none;
  background-color: transparent;
  margin: 0px 20px;
  font-size: 16px;
  font-family: 'Sorts Mill Goudy', serif;
}

.actor-name-field-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.actor-name-field-container > h5 {
  margin: 0;
  margin-right: 20px;
}

.actor-name-field {
  width: 100%;
  border-bottom: 0.5px solid white !important;
  margin: 0;
  margin-bottom: 0 !important;
  font-size: 1.5rem !important;
}

.actor-desc-field-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.actor-desc-field {
  border: 0.5px solid white;
  margin-right: 0;
  width: 100%;
}

.actor-image-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actor-grab-image-btn {
  margin-left: 10px;
}

.img-icon {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.img-circle-letter {
  color: white;
  text-align: center;
  font-size: 20px;
  font-size: 1.7em;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ----- EditorHero Styling ----- */

.hero-module {
  background-color: #ffc299;
  width: 100%;
  color: white;
}

.hero-module-btn {
  background-color: #ff6600;
  margin: 10px;
  color: white;
}

.hero-module-header {
  margin: 0 20px;
  border-bottom: 0.5px solid #ff6600;
}

.hero-box {
  width: 100%;
  padding: 30px 45px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.hero-box > input {
  border: 0.5px solid #c9c9c9;
  background-color: transparent;
  margin: 0px 20px;
  font-size: 16px;
}

.hero-box > h5 {
  margin: 0;
}

.hero-box > p {
  margin-bottom: 0;
}

.hero-viewer {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.hero-viewer > p {
  margin-bottom: 0;
}

.hero-image-container {
  width: 100%;
  height: 50%;
}

.hero-image-container > img {
  width: 100%;
  height: auto;
}

