.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.margin-top-20 {
  margin-top: -20px
}

.search-box {
  background-color: floralwhite;
}

#storyEditor {
  margin: 0px 30px
}

.titleRow {
  margin-bottom: 20px;
}

.titleInput {
  font-size: 30px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
}

.actorFormField {
  border: none;
  margin: 10px;
}

.publish {
  display: flex;
  justify-content: flex-end;
}

.editor-actors {
  /*background-color: lightgrey;*/
}

.article-font {
  font-family: 'Libre Baskerville', serif;
}

.actors-heading {
  margin: 0px;

}

.article-text {
  margin-bottom: 2.625rem;
  margin-top: 0;
  line-height: 2.875rem;
  font-size: 16px;
}

.generate-actors {
  display: flex;
  justify-content: flex-start;
}

.editor-container {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
  color: black;
  min-height: 400px;
}

.editor-btn {
  height: 35px;
  width: 35px;
}

