/* ----- Home Page ----- */

.home > .banner > h1 {
  font-family: 'Nixie One', cursive;
  font-size: 1.6em;
}

.home-margin {
  margin: 15px 30px
}

.main-featured {
  /*max-height: 300px;*/
}

.card-img-height {
  max-height: 350px;
}

.nav-wrapper {
  margin: 0px 10px
}

.featured-card > div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  background: inherit;
  background-attachment: fixed;
}
.featured-card > div::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  /*background-attachment: fixed;*/
  -webkit-filter: blur(4px);
  filter: blur(4px);
  /*transform: scale(1.25) translateY(15px);*/
}
.featured-card > div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25)
}

.featured-card > div > h1 {
  margin: 0;
  color: white;
  position: relative;
  z-index: 1;
}

.featured-card > div > h2 {
  margin: 0;
  color: white;
  position: relative;
  z-index: 1;
}

.flex-card > div > h1 {
  margin: 0;
  color: white;
  position: relative;
  z-index: 1;
}

.flex-card > div > h2 {
  margin: 0;
  color: white;
  position: relative;
  z-index: 1;
}


* {
  box-sizing: border-box;
}

.lead-row {
  height: 400px;
}

.lead-width {
  min-width: 800px;
}

.second-row {
  height: 250px;
}

.second-width {
  min-width: 650px;
}

.second-width > div {
  position: relative;
}

.featured-card {
  flex-grow: 1;
  width: auto;
  background-attachment: scroll;

  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-position: 100% 100%;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  margin: 0px 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
}

.flex {
  display: flex;
  justify-content: space-around;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flex-card {
  flex-basis: auto;
  flex-grow: 1;
  padding: 24px;
  border-radius: 4px;
  background-color: lightgrey;
  margin: 0px 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
}

#featured-text {
  font-size: 40px
}



.home-page-header {
  font-family: 'Nixie One', cursive;
  font-size: 1.5em;
}

.home-page-text {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
}

.feature-row {
  margin-bottom: 20px;
  height: 400px;
}

.create-story-button {
  width: 75%;
  height: 100%;
  margin: 45px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #19194d;
  color: white;
}
