/* ----- ViewStory / ViewScene Styling ----- */

.scenes-nav-title {
  font-family: 'Playfair Display SC', serif;
}

.view-story-heading {
  font-family: 'Playfair Display SC', serif;
  margin-top: 0;
}

.scene-hero {
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0;
  z-index: 0;
}

.article-content {
  position: relative;
  z-index: 2;
  background-color: rgba(255,255,255,0.8);
  padding: 40px;
}

.article-titles {
  margin-bottom: 40px;
}

.article-titles > h3 {
  font-weight: bold;
}

.article-titles > h1 {
  font-size: 40px;
}

.actors-heading {
  margin: 0px;
}

.article-text {
  margin-bottom: 2.625rem;
  margin-top: 5px;
  line-height: 2.875rem;
  font-size: 18px;
  font-family: 'Sorts Mill Goudy', serif;
}

.scenes-nav {
  position: fixed;
  z-index: 1;
  top: 20%;
  left: 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 60%;
}

.scenes-nav-title {
  text-align: center;
  margin-top: 50px;
}

input[type=range] {
  -webkit-appearance: none;
  border-style: none;
  width: 500px;
  margin-top: 250px;
  transform: rotate(-270deg)
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  background: #3071a9;
  border-radius: 25px;
  border: 0px solid #ffffff;
}
input[type=range]::-webkit-slider-thumb {
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  border: 1px solid #000000;
  height: 45px;
  width: 19px;
  border-radius: 12px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -18.3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #357cb9;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  background: #3071a9;
  border-radius: 25px;
  border: 0px solid #ffffff;
}
input[type=range]::-moz-range-thumb {
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  border: 1px solid #000000;
  height: 45px;
  width: 19px;
  border-radius: 12px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2b6699;
  border: 0px solid #ffffff;
  border-radius: 50px;
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0px solid #ffffff;
  border-radius: 50px;
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
}
input[type=range]::-ms-thumb {
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  border: 1px solid #000000;
  height: 45px;
  width: 19px;
  border-radius: 12px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #357cb9;
}

.article-modules {
  position: fixed;
  right: 5%;
  top: 55%;
}

/* ----- ViewActors Styling ----- */

.view-actors-heads-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.view-actors-head {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-image-icons {
  border-radius: 50%;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.view-actors-desc {
  font-size: 16px;
  font-family: 'Sorts Mill Goudy', serif;
}

/* ----- ViewScene Styling ----- */

.scene-hero-img-container {
  width: 100%;
  height: 50%;
}

.scene-hero-img-container > img {
  width: 100%;
  height: 100%;
}
